<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pj01_myproject.Properties.Settings.MemberInfoConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=MemberInfo;Persist Security Info=True;User ID=sa;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>