USE [MemberInfo]
GO
ALTER TABLE [dbo].[Textmemo] DROP CONSTRAINT [DF__Textmemo__change__398D8EEE]
GO
/****** Object:  Index [IX_signup]    Script Date: 2024-07-18 오전 9:57:35 ******/
ALTER TABLE [dbo].[signup] DROP CONSTRAINT [IX_signup]
GO
/****** Object:  Table [dbo].[Textmemo]    Script Date: 2024-07-18 오전 9:57:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Textmemo]') AND type in (N'U'))
DROP TABLE [dbo].[Textmemo]
GO
/****** Object:  Table [dbo].[signup]    Script Date: 2024-07-18 오전 9:57:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[signup]') AND type in (N'U'))
DROP TABLE [dbo].[signup]
GO
USE [master]
GO
/****** Object:  Database [MemberInfo]    Script Date: 2024-07-18 오전 9:57:35 ******/
DROP DATABASE [MemberInfo]
GO
/****** Object:  Database [MemberInfo]    Script Date: 2024-07-18 오전 9:57:35 ******/
CREATE DATABASE [MemberInfo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MemberInfo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MemberInfo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MemberInfo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MemberInfo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MemberInfo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MemberInfo]
GO
/****** Object:  Table [dbo].[signup]    Script Date: 2024-07-18 오전 9:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[signup](
	[username] [varchar](255) NOT NULL,
	[userid] [varchar](255) NOT NULL,
	[userpwd] [varchar](255) NOT NULL,
	[userphone] [varchar](50) NOT NULL,
	[useremail] [varchar](255) NULL,
	[gender] [varchar](50) NOT NULL,
 CONSTRAINT [PK_signup] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Textmemo]    Script Date: 2024-07-18 오전 9:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Textmemo](
	[userid] [varchar](255) NOT NULL,
	[usermemo] [varchar](255) NULL,
	[savedate] [date] NOT NULL,
	[changedate] [date] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_signup]    Script Date: 2024-07-18 오전 9:57:35 ******/
ALTER TABLE [dbo].[signup] ADD  CONSTRAINT [IX_signup] UNIQUE NONCLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Textmemo] ADD  DEFAULT (' ') FOR [changedate]
GO
USE [master]
GO
